
h1{
	text-align: center;
	font-size: 40px;
	color: white;
}

body{
	background-color: black;
	background-image: linear-gradient(to bottom right, black, #1DB954);
}

ul.nav-bar {
  list-style-type: none;
  margin: 0px;
  padding: 0px 150px 0px 150px;
  overflow: auto;
  background-color: #333;
  border: 4px solid black;
  background-image: linear-gradient(to bottom right, #333, black);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 30px;
  text-decoration: none;
  font-size: 27px;
}

li a:hover {
  background-color: black;
  color: #1DB954;
}

.div1{
	border: 4px solid black;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	overflow: auto;
	height: 230px;
	background-color: #333;
	background-image: linear-gradient(to bottom right, #333, black);
}

h3{
	font-size: 40px;
	color: #1DB954;
	padding-left: 30px;
}

h4{
	float: right;
	font-size: 38px;
	color: white;
	padding-right: 500px;
}

h3, h4{
	display: inline;
	margin: 0px;
}

.pi-list{
	list-style-type: square;
	color: white;
	font-size: 25px;
	float: left;
	padding-left: 340px;
}

.custom-list{
	list-style-type: none;
	color: #1DB954;
	font-size: 23px;
	float: left;
	padding-left: 0px;
}

.custom-list2{
	list-style-type: none;
	color: white;
	font-size: 23px;
	float: left;
	padding-left: 0px;
}

.div2{
	border: 4px solid black;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	overflow: auto;
	height: 430px;
	background-color: #333;
	background-image: linear-gradient(to bottom right, #333, black);
}

.head{
	color: #1DB954;
	font-size: 28px;
	padding-left: 100px;
}

.sub{
	color: white;
	font-size: 24px;
	padding-left: 190px;
}

.div3{
	border: 4px solid black;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	overflow: auto;
	height: 640px;
	background-color: #333;
	background-image: linear-gradient(to bottom right, #333, black);
}

.head1{
	color: #1DB954;
	font-size: 28px;
	padding-left: 100px;
}

.sub1{
	color: white;
	font-size: 24px;
	padding-left: 190px;
	padding-right: 100px;
}
.we-list{
	color: white;
	padding-left: 190px;
	font-size: 23px;
}

.div4{
	border: 4px solid black;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	overflow: auto;
	height: 760px;
	background-color: #333;
	background-image: linear-gradient(to bottom right, #333, black);
}

.head2{
	color: #1DB954;
	font-size: 28px;
	padding-left: 100px;
}

table, th, td{
	border: 3px solid #1DB954;
	border-collapse: collapse;
	color: black;
	font-size: 24px;
	text-align: center;
	padding: 10px;
	background-color: #565856 ;
}

table{
	width: 80%;
	border-spacing: 10px;
	margin-left: 100px;

}

.skill-list{
	color: white;
	font-size: 24px;
	margin-left: 100px;
}

